.game-container {
    position: relative;
    top: 10vh;
    bottom: 0;
    left: 5vh;
    margin-right: 15vh;
    align-content: center;
}

.search-form {
    align-content: center;
}

.game-list {
    padding: 30px;
}

.ui-card {
    padding: 5px;
}