.meetup-container {
    max-width: 100%;
    /* margin: auto; */
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    /* border: 3px solid rgb(145, 150, 139, 0.2); */
    color: rgb(240, 234, 226);
}

.meetup-details {
    color: black;
    background: white;
    position: relative;
    /* top: 20;
    left:20;
    width: 50%;
    max-width: 500px; */
}

.selected-date-meetups {
    background: white;
    color: black;
    position: fixed;
    top: 1;
    left: 50;
    width: 50%;
    z-index: 999;
    
}

.selected-date-backdrop {
    z-index:1;
}