.meetup-container {
    max-width: 100%;
    /* margin: auto; */
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    /* border: 3px solid rgb(145, 150, 139, 0.2); */
    color: rgb(240, 234, 226);
}

.meetup-details {
    color: black;
}

.selected-date-meetups {
    
}