.profile-games {
    
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-page {
    justify-content: left;
    text-align: left;
    background-color: rgb(0, 0, 0);
    margin-left: 5%;
    margin-right: 5%;
}

.profile-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}